<div class="wrapper">
    <div class="header-home">
        <app-navbar></app-navbar>
    </div>

    <div class="body-maestros">
        <div class="row mt-5 mb-5">
            <div class="col-12">
                <span class="title-perfil">Bienvenido {{name_user}}</span>
                <br><br>
                <span class="title-perfil">{{rol}}</span>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center mt-3 mb-5">
                <div class="col-8">
                    <div class="alert alert-primary text-center" role="alert">
                        <span class="title-table">Lista de materias registradas</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <!-- NRC Column -->
                    <ng-container matColumnDef="nrc">
                        <th mat-header-cell *matHeaderCellDef> NRC </th>
                        <td mat-cell *matCellDef="let element" [matTooltip]="element.nrc" class="cell-with-tooltip">
                            {{element.nrc}}
                        </td>
                    </ng-container>

                    <!-- Nombre Column -->
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element" [matTooltip]="element.nombre" class="cell-with-tooltip">
                            {{element.nombre}}
                        </td>
                    </ng-container>

                    <!-- Sección Column -->
                    <ng-container matColumnDef="seccion">
                        <th mat-header-cell *matHeaderCellDef> Sección </th>
                        <td mat-cell *matCellDef="let element"> {{element.seccion}} </td>
                    </ng-container>

                    <!-- Días Column -->
                    <ng-container matColumnDef="dias">
                        <th mat-header-cell *matHeaderCellDef> Días </th>
                        <td mat-cell *matCellDef="let element"> {{element.dias_json}} </td>
                    </ng-container>

                    <!-- Horario Column -->
                    <ng-container matColumnDef="horario">
                        <th mat-header-cell *matHeaderCellDef> Horario </th>
                        <td mat-cell *matCellDef="let element"> {{element.hora_inicio}} - {{element.hora_fin}} </td>
                    </ng-container>

                    <!-- Salón Column -->
                    <ng-container matColumnDef="salon">
                        <th mat-header-cell *matHeaderCellDef> Salón </th>
                        <td mat-cell *matCellDef="let element"> {{element.salon}} </td>
                    </ng-container>

                    <!-- Programa Educativo Column -->
                    <ng-container matColumnDef="programa_educativo">
                        <th mat-header-cell *matHeaderCellDef> Programa Educativo </th>
                        <td mat-cell *matCellDef="let element"> {{element.programa_educativo}} </td>
                    </ng-container>

                    <!-- Profesor Column -->
                    <ng-container matColumnDef="profesor">
                        <th mat-header-cell *matHeaderCellDef> Profesor </th>
                        <td mat-cell *matCellDef="let element" [matTooltip]="element.profesor_nombre"
                            class="cell-with-tooltip">
                            {{element.profesor_nombre}}
                        </td>
                    </ng-container>

                    <!-- Créditos Column -->
                    <ng-container matColumnDef="creditos">
                        <th mat-header-cell *matHeaderCellDef> Créditos </th>
                        <td mat-cell *matCellDef="let element"> {{element.creditos}} </td>
                    </ng-container>

                    <!-- Editar Column -->
                    <ng-container matColumnDef="editar" *ngIf="rol === 'administrador'">
                        <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                        <td mat-cell *matCellDef="let element" class="td-editar">
                            <mat-icon (click)="goEditar(element.id)">edit</mat-icon>
                        </td>
                    </ng-container>

                    <!-- Eliminar Column -->
                    <ng-container matColumnDef="eliminar" *ngIf="rol === 'administrador'">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element" class="td-eliminar">
                            <mat-icon (click)="delete(element.id)">delete</mat-icon>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>
</div>